/* ==================== Root Style ==================== */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


:root {
    --bodyBG: #f8f8f8;
    --bgColor: #ffffff;
    --primaryColor: #ffa801;
    --secondaryColor: #ffffff;
    --titleColor: #1e272e;
    --textColor: #808e9b;
    --dangerColor: #fc5c65;
    --dangerBgColor: #ffe3e5;
    --lightBorderColor: #f8f8f8;
    --borderColor: #e0e0e0;

    --titleSize: 24px;
    --titleWeight: 500;
    --textSize: 14px;
    --textWeight: 400;
    --smTextSize: 12px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}



/* ==================== Global Area ==================== */
body {
    background: var(--bgColor);
    margin: 0;
}
body.site {
    padding-top: 70px;
}


.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 50px;
}


.wrapper {
    padding: 70px 0;
}

.textCenter {
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: var(--titleWeight);
    color: var(--titleColor);
}


p {
    margin: 0;
    padding: 0;
    font-size: var(--textSize);
    font-weight: var(--textWeight);
    color: var(--textColor);
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


a {
    font-size: var(--textSize);
    font-weight: var(--textWeight);
    color: var(--titleColor);
    text-decoration: none;
    transition: all 0.3s ease;
}
a.link {
    color: var(--primaryColor);
}
a:hover {
    color: var(--primaryColor);
}


.btn {
    background: var(--primaryColor);
    color: var(--secondaryColor);
    border: 1px solid var(--primaryColor);
    font-size: var(--textSize);
    font-weight: var(--textWeight);
    border-radius: 3px;
    padding: 0 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn:hover {
    background: var(--secondaryColor);
    color: var(--primaryColor);
}



/* ==================== Header Area ==================== */
.headerMain {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--bgColor);
    border-bottom: 1px solid var(--lightBorderColor);
}
.headerMain .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 70px;
}
.headerMain .menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
}



/* ==================== Form Style ==================== */
label {
    font-size: var(--textSize);
    font-weight: var(--textWeight);
    color: var(--textColor);
    display: block;
    margin: 5px 0;
}
.helptext {
    display: none;
}
.errorlist li {
    padding: 5px 10px;
    color: var(--dangerColor);
    background-color: var(--dangerBgColor);
    border: 1px solid var(--dangerColor);
    border-radius: 3px;
    margin: 0 auto;
    opacity: 1;
}
input {
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    font-size: var(--textSize);
    font-weight: var(--textWeight);
    color: var(--titleColor);
    outline: none;
}
input:focus {
    border: 1px solid var(--primaryColor) !important;
}

form ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-top: 5px;
}
form ul li {
    margin: 0;
    font-size: var(--smTextSize);
    font-weight: var(--textWeight);
    color: var(--textColor);
    opacity: 0.5;
}
form p:not(:first-child) {
    margin-top: 20px;
}
form .btn {
    margin-top: 20px;
}



/* ==================== Dashboard Style ==================== */
.dashboard {
    background: var(--bodyBG);
}
.dashboardArea {
    display: flex;
}
.sideBarArea {
    width: 300px;
    border-right: 1px solid var(--lightBorderColor);
    background: var(--bgColor);
    height: 100vh;
    padding: 20px;
}
.sideBarArea .sideBarLogo {
    text-align: center;
    margin-bottom: 20px;
}
.sideBarArea .sideBarLogo img {
    max-width: 160px;
}
.sideBarArea .sideBarMenu a {
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.sideBarArea .sideBarMenu a:hover {
    background: var(--primaryColor);
    color: var(--secondaryColor);
}
.sideBarArea .sideBarMenu a.active {
    background: var(--primaryColor);
    color: var(--secondaryColor);
}
.sideBarArea .sideBarMenu svg {
    margin-right: 10px;
    width: 16px;
}


.contentArea {
    width: calc(100% - 300px);
}
.titleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: var(--bgColor);
    margin: 20px 0;
    border-radius: 5px;
}
.userArea {
    display: flex;
    align-items: center;
    gap: 10px;
}
.userArea .user {
    text-align: right;
}
.userArea .user .name {
    font-size: var(--textSize);
}
.userArea .user .type {
    font-size: var(--smTextSize);
    opacity: 0.7;
}
.userArea img {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}



/* ==================== Authentication Area ==================== */
.authentication {
    background: var(--bodyBG);
    height: calc(100vh - 70px);
}
.authentication .card {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    background: var(--bgColor);
} 